<nav>
  <mat-sidenav-container *ngIf="isOpened">
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a
          routerLink="canvas"
          routerLinkActive="active-link"
        >
          Canvas
        </a>
      </li>
      <li>
        <a
          routerLink="chat"
          routerLinkActive="active-link"
        >
          Chat
        </a>
      </li>
    </ul>
  </mat-sidenav-container>
  <button
    mat-icon-button
    color="accent"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</nav>
